/* link, visited, hover, active */
*{
    box-sizing: border-box;
}
a:link{
    color: blueviolet;
}
 a:visited{
    color: red;
 }
 a:hover{
    color: green;
 }

 a:active{
    color: black;
 }

 button:hover{
    color: brown;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 2px;
 }

 button:active{
    background-color: black;
 }
 input[type="submit"]:hover{
    color: brown;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 2px

 }
 input[type="submit"]:active{
    background-color: yellow;
 }

 input:focus{
    padding: 10px;
    outline: none;
 }

 input:required{
    color: red;
 }
