body{
    font-family:sans-serif;
}

.blog-content{
    font-weight: 600;
    font-style:oblique;
}

.text-green{
    color: rgb(7, 241, 30);
}

.text-brown{
    color:brown
}

.bg-blue{
    background-color: aqua;
}